* {
    box-sizing: border-box;
    
}

body {
    display: grid;
    justify-items: center;
    background-color: lightsalmon;
}

h1 {
    color: pink;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    text-shadow: 3px 3px 0 red;
}

.board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin: 0 auto;
    border: 3px solid red;
    cursor: pointer;
    
}

.box {
    border: 3px solid red;
    width: 100%;
    height: 100%;
    font-size: 80px;
    color: lightpink;
    display: flex;
    text-shadow: 2px 2px 4px red;
    align-items: center;
    justify-content: center;
}
.results {
    justify-content: space-between;
    margin-top: 40px;
}

.scores {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: lightpink;
    text-shadow: 2px 2px 4px red;
}

.scores div {
    margin-right: 20px;
}

.reset-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#play-again-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: lightpink;
    border: 1px solid red;
    color: red;
}